* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height:100%;
}

.topnav{
  background: black;
  height: 50px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.slogo{
  height: inherit;
  position: absolute;
  left: 10%;
}

.small-logo {
  height: inherit;
  flex-basis: 50%;
  align-self: baseline;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.name{
  color: white;
  background-color: black;
  background-image:url(../images/background.png);
  background-size:cover;
  width: 100%;
  height: fit-content;
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: center;
}

#main-content{
  position: relative;
  width: 60%;
  color: black;
}

h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 35px;
  margin-bottom: 10px;
}

a{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover{
  background-color: black; /* Green */
  color: white;
}

#logo-transparent{
  align-self: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 830px){
  #main-content{
    width: 80%;
  }

  #logo-transparent{
    display: none;
  }

  .container{
    margin-top: 10px;
    height: 60%;
}

}
