* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-color: white;
    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size:cover;
    height:100%;
}

.topnav{
  background: black;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.slogo{
  height: inherit;
  position: absolute;
  left: 10%;
}

.small-logo {
  height: inherit;
  flex-basis: 50%;
  align-self: baseline;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

