* {
  background-color: black;
  margin:0;
  padding:0;
}

body{
  overflow: auto;
}

img{
  max-width: none;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
  color:white;
  border-radius: 25px;
  border: 2px solid #20843E;
  padding: 3px 7px 3px 7px;
  display: block;
  text-align: center;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

a::after{
  text-decoration: none;
  color:white;
  border-radius: 25px;
  border: 2px solid #4bdb76;
  padding: 3px 7px 3px 7px;
  display: block;
  text-align: center;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

p{
  margin-top: 15px;
}

.container{
  display: flex;
  flex-direction: row;
}

.container2{
  display: flex;
  flex-direction: column;
}


#left-section{
  width: 70%;
  position: relative;
}

#right-section{
  width: 30%;
  position: relative;
}

#right-section h1{
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#right-section input{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 40%;
  color: white;
}

#background-image{
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

#welcome-box{
  position: absolute;
  width: 70%;
  top: 30%;
  left: 14%;
  padding: 0px 10px 0px 10px;
}

#welcome-text{
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 25px 65px 25px;
}

#green-line{
  margin-top: 4px;
  display: block;
  border: 2px solid #20843E;
  color:#20843E;
  width: 150px;
}

#white-line{
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid white;
  width: 100px;
}

#logo{
  position: relative;
  height: 350px;
  margin-top: 40px;
}

@media all and (max-width: 629px){
  body{
    overflow: auto;
  }
  .container{
    display: flex;
    align-items:  stretch;
    flex-flow: column wrap;
  }

  #left-section{
    order: 2;
    width: 100%;
  }

  #right-section{
    order: 1;
    width: 100%;
  }

  #right-section input{
    margin-bottom: 20px;
  }

  #welcome-box{
    width: 70%;
    top: 5%;
    padding: 0px 10px 0px 10px;
  }

  #background-image{
    width: auto;
  }
}







