* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
  display: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

/* The sidebar menu */
.sidebar-body {
    height: fit-content;
    width: 18%;
    position: fixed;
    z-index: 1;
    background-color: transparent; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 10%;
    left: 1%;
}

/* The navigation menu links */
.sidebar-body a {
    font-family: "open-sans", sans-serif;
    padding: 17px 8px 17px 27px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar-body a:hover {
  font-weight: bold;
  color: #3AC563 ;
}

#left-section{
    flex-basis: 20%;
    background-color: #0B6326;
}

#right-section{
    flex-basis: 80%;
    background-color: #0B6326;
}

#selected{
    background-color: #3AC563;
    color: white;
}

.sidebar-line{
    display: block;
    border: 0.5px solid black;
    width: 70%;
    margin-left: 20%;
    color: black;
}


/******************************************************************NAVIGATION********************************************** */

.slogo{
  color: white;
  background: rgba(23, 23, 23, 0.9);
  transition: 0.3s;
  height: inherit;
  position: relative;
}

.small-logo {
  height: inherit;
  position: absolute;
}

.img-area{
  font-family: sans-serif;
  color: green;
  text-align: center;
  height: 90vh;
  /* background-image: linear-gradient(90deg, rgba(51,136,34,1) 0%, rgba(101,9,121,1) 56%, rgba(0,144,173,1) 100%); */
}

.topnav{
  height: 50px;
  color: white;
  background-color: rgba(23, 23, 23, 0.9);
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  width: 50%;
  height: 100%;
  padding-right: 5vw;
  margin-left: 45vw;
}

.nav-links li{
  padding-left: 3em;
  display: inline;
}

.nav-links li a{
  font-family: 'Montserrat', serif;
  color: white;
  border-bottom-color: black;
  text-decoration: none;
  transition: ease-in 0.2s;
  font-size: 16px;
  font-weight: bold;
}

.nav-links li a:hover{
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid black;
  transition: ease-out 0.2s;
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

/*********************************************************RIGHT SECTION*********************************************************/
#right-section{
  flex-basis: 80%;
  background-color: black;
}

.pictures{
  margin-top: 3%;
  margin-left: 11%;
  margin-bottom: 8%;
  max-width: 80%;
  display: flex;
  justify-content: center;
}

.pictures div img{
  border: 10px solid white;
  border-radius: 150px;
  transition: 0.25s;
  width: 150px;
  height: 150px;
}

.pictures div img:hover{
  border-radius: 200px;
  border: 5px solid white;
  color: green;
  box-shadow: 5px 5px 10px;
  transition: 0.25s;
  width: 200px;
  height: 200px;
}
.container2{
  display: flex;
  justify-content: center;
  max-height: 120px;
  transform: rotate(180deg);
}

.top1{
  transition: 0.2s;
  height: 140px;
  width: 150px;
  border: 2px solid white;
  border-right-color: black;
  background: black;

}
.top2{
  transition: 0.2s;
  height: 170px;
  width: 150px;
  border: 2px solid white;
  border-right-color: black;
  border-left-color: black;
  background: black;
}

.top3{
  transition: 0.2s;
  height: 110px;
  width: 150px;
  border: 2px solid white;
  border-left-color: black;
  background: black;
}
.top1:hover{
  transition: 0.2s;

  border-color: white;
  /* margin: 10px; */
  transition: ease-in 0.2s;
  color: black;
  text-decoration: underline;
  box-shadow: inset 200px 0 0 0 #ddd;

  transition: ease-out 0.25s;
  transition-delay: 0.15s;
  /* box-shadow: 2px 5px 10px; */
}
.top2:hover{
  transition: 0.2s;

  border-color: white;
  /* margin: 10px; */
  transition: ease-in 0.2s;
  color: black;
  text-decoration: underline;
  box-shadow: inset 200px 0 0 0 #ddd;
  transition: ease-out 0.25s;
  transition-delay: 0.15s;
  /* box-shadow: 2px 5px 10px; */
}
.top3:hover{
  transition: 0.2s;

  border-color: white;
  /* margin: 10px; */
  transition: ease-in 0.2s;
  color: black;
  text-decoration: underline;
  box-shadow: inset 200px 0 0 0 #ddd;

  transition: ease-out 0.25s;
  transition-delay: 0.15s;
  /* box-shadow: 2px 5px 10px; */
}

.container2 h1{
  position: relative;
  top: 50%;
  width: 100%;
  transform: rotate(180deg);
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: green;
}
/*********************************************************MEDIA QUERY**************************************/
@media screen and (max-width: 768px){

#left-section{
  display: none;
}

.pictures div img{
  border: 10px solid white;
  border-radius: 100px;
  transition: 0.25s;
  width: 100px;
  height: 100px;
}

.pictures div img:hover{
  border-radius: 130px;
  border: 5px solid white;
  color: green;
  box-shadow: 5px 5px 10px;
  transition: 0.25s;
  width: 130px;
  height: 130px;
}
.container2 h1{
  top: 30%;
}
.top1{
  transition: 0.2s;
  height: 100px;
  width: 120px;
  border: 2px solid white;
  border-right-color: black;
  background: black;

}
.top2{
  transition: 0.2s;
  height: 140px;
  width: 120px;
  border: 2px solid white;
  border-right-color: black;
  border-left-color: black;
  background: black;
}

.top3{
  transition: 0.2s;
  height: 80px;
  width: 120px;
  border: 2px solid white;
  border-left-color: black;
  background: black;
}
  .container{
    display: flex;
    flex-wrap: nowrap;
    background: black;
  }

  .login{
    position: relative;
  }
  .box{
    /* position: absolute; */
    width: inherit;
    position: relative;
  }

  .box input{
    display: block;
  }

  .box input[type = "submit"]{
    font-family: 'Montserrat',serif;
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
  }

  .nav-links{
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 5em;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    font-family: sans-serif;
    font-weight: bolder;
    position: fixed;
    background: green;
    height: 100vh;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 0.5s ease-out;
  }

  .nav-links li{
    margin-bottom: 4em;
  }

   .nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .topnav{
    position: relative;
  }

  .sidebar{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
    z-index: 2;
  }
}
