.topnav{
  background-color: green;
  overflow: hidden;
  width: 100vw;
  position: relative;
}

.topnav a {
  background-color: green;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body{
  background-color: black
}

.slogo{
  position: absolute;
  height: 50px;
  width:100px;
}